<div id="imagelist2" data-dojo-attach-point="domNode">
            <ul id="basemapDialog" class="sf-menu">
                <li data-dojo-attach-point="historicalImagery" id="historicalImagery" data-value="A2015">2015 Countywide<span></span>
                    <ul class="subyear">
                        <!-- <li data-value="A2016"><a>2016 Grand Valley Only</a></li> -->
                        <li data-value="A2015"><a>2015 Countywide</a></li>
                        <li data-value="A2014"><a>2014 Grand Valley Only</a></li>
                        <li data-value="A2012"><a>2012 Countywide</a></li>
                        <li data-value="A2011"><a>2011 Countywide</a></li>
                        <li data-value="A2010"><a>2010 Grand Valley Only</a></li>
                        <li data-value="A2009"><a>2009 Countywide</a></li>
                        <li data-value="A2008"><a>2008 Grand Valley Only</a></li>
                        <li data-value="A2007"><a>2007 Countywide</a></li>
                        <li data-value="A2006"><a>2006 Grand Valley Only</a></li>
                        <li data-value="A2005"><a>2005 Countywide</a></li>
                        <li data-value="A2003"><a title="County Color Infra Red Image">2003 County CIR</a></li>
                        <li data-value="A2001"><a title="County-wide Black and White Image">2001 County (BW)</a></li>
                        <li data-value="A1997"><a>1997 Grand Valley</a></li>
                        <li data-value="A1994"><a title="Valley Floor Black and White Image">1994 Grand Valley (BW)</a></li>
                        <li data-value="A1986"><a title="Valley Floor Black and White Image">1986 Grand Valley (BW)</a></li>
                        <li data-value="A1977"><a title="Valley Floor Black and White Image">1977 Grand Valley (BW)</a></li>
                        <li data-value="A1966"><a title="Valley Floor Black and White Image">1966 Grand Valley (BW)</a></li>
                        <li data-value="A1954"><a title="Valley Floor Black and White Image">1954 Grand Valley (BW)</a></li>
                        <li data-value="A1937"><a title="Valley Floor Black and White Image">1937 Grand Valley (BW)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
