<div class='bookmarkTool' data-dojo-attach-point="domNode">
    <div data-dojo-attach-point="bookmarkHeader" class="bookmarkHeader">
        <div>${widgetTitle}</div>
    </div>
    <div class='centered'>
        <div data-dojo-attach-point="mcbookmarks" id="mcbookmarks"></div>
        <button data-dojo-attach-point="clear-storage" data-dojo-attach-event="onclick:_clearFunction" title="Delete all bookmarks for this session" id="clear-storage">Clear All</button>
        <button data-dojo-attach-point="restore-storage" data-dojo-attach-event="onclick:_restoreDefault" title="Restore the default bookmarks. This will delete any custom bookmarks you might have created." id="restore-storage">Restore Default</button>
    </div>
</div>
