<div id="districtsSelect">
    <ul>
        <li>
            <input class="districtscbx" type="checkbox" id="citylimits" data-opt="19" data-value="citylimits" checked /><span>City Limits</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="cemetery" data-opt="10" data-value="cemetery" /><span>Cemetery</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="conserv" data-opt="11" data-value="conserv" /><span>Conservancy</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="firedist" data-opt="0" data-value="firedist" /><span>Fire Districts</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="hospital" data-opt="14" data-value="hospital" /><span>Hospital</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="improv" data-opt="6" data-value="improv" /><span>Improvement</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="pest" data-opt="7" data-value="pest" /><span>Mosquito Control</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="san" data-opt="2" data-value="san" /><span>Sanitation</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="soilcon" data-opt="12" data-value="soilcon" /><span>Soil Conservancy</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="water" data-opt="1" data-value="water" /><span>Water</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="drain" data-opt="4" data-value="drain" /><span>Drainage</span>
        </li>
        <li title='These are irrigation districts'>
            <input class="districtscbx" type="checkbox" id="irrig" data-opt="5" data-value="irrig" /><span>Irrigation</span>
        </li>
        <li>
            <input class="districtscbx" type="checkbox" id="tac" data-opt="13" data-value="tac" /><span title="Tax Assessor Code">TAC</span>
        </li>
    </ul>
</div>
