<div id="engdocsSelect">
    <ul>
        <!-- <li>
            <input class="engdocscbx" type="checkbox" id="struc" data-opt="0" data-value="struc" checked /><span>Structural Reports</span>
        </li> -->
        <li>
            <input class="engdocscbx" type="checkbox" id="drnrep" data-opt="0" data-value="drnrep" checked /><span>Drainage Reports</span>
        </li>
        <li>
            <input class="engdocscbx" type="checkbox" id="geotech" data-opt="3" data-value="geotech" checked /><span>Geotechnical Reports</span>
        </li>
        <li>
            <input class="engdocscbx" type="checkbox" id="traffic" data-opt="6" data-value="traffic" checked /><span>Traffic Studies</span>
        </li>
        <li>
            <input class="engdocscbx" type="checkbox" id="asbuilt" data-opt="9" data-value="asbuilt" checked /><span>As-built Drawings</span>
        </li>
        <li>
            <input class="engdocscbx" type="checkbox" id="floodstud" data-opt="12" data-value="floodstud" checked /><span>Floodplain Studies</span>
        </li>
        <li>
            <input class="engdocscbx" type="checkbox" id="drainplan" data-opt="15" data-value="drainplan" checked /><span>Drainiage Master Plans</span>
        </li>
    </ul>
</div>
