            <div id="enterpriseSelect">
                <ul>
                    <li>
                        <input class="enterprisecbx" type="checkbox" data-opt="0" id="opportunity" data-value="opportunity" checked/><span>Opportunity Zones</span>
                    </li>
                    <li>
                        <input class="enterprisecbx" type="checkbox" data-opt="1" id="enterprise" data-value="enterprise" checked/><span>Current Enterprise Zone</span>
                    </li>
                </ul>
            </div>
