<div id="floodSelect">
    <ul>
      <li>
          <input class="floodcbx" type="checkbox" id="floodpanelindex" data-opt="0" data-value="floodpanelindex" checked /><span>FEMA Map Panel Index</span>
      </li>
        <li>
            <input class="floodcbx" type="checkbox" id="floodsections" data-opt="1" data-value="floodsections" /><span>Cross Sections</span>
        </li>
        <li>
            <input class="floodcbx" type="checkbox" id="floodbase" data-opt="2" data-value="floodbase" /><span>Base Flood Elevations</span>
        </li>
        <li>
            <input class="floodcbx" type="checkbox" id="floodcontours" data-opt="3" data-value="floodcontours" /><span>2001 2 Ft. Contours</span>
        </li>

        <li>
            <input class="floodcbx" type="checkbox" id="floodreg" data-opt="4" data-value="floodreg" checked /><span>FEMA Regulatory Floodplain</span>
        </li>
        <li>
            <input class="floodcbx" type="checkbox" id="floodnonreg" data-opt="5" data-value="floodnonreg" checked/><span>Non FEMA Regulatory Floodplain</span>
        </li>
    </ul>
</div>
