<div id='measureTool' class='measureTool'  data-dojo-attach-point="domNode" title="Draw/Measure">
    <div data-dojo-attach-point="dialogHeader" class="dialogHeader">
        <div id="measureText">Measure/Draw</div>
    </div>
    <div data-dojo-attach-point="measureYesSpan" id="measureYesSpan">
        <input data-dojo-attach-point="measureYes" id="measureYes" type="checkbox" checked />Enable Measurement?
    </div>
    <div id='drawToolInstruction'>Select a <span id='drawOrMeasure'>Draw</span> Tool:</div>
    <div data-dojo-attach-point="drawButtonBlock" id="drawButtonBlock">
        <span data-set='block' data-dojo-attach-event="onclick:setPoly" data-dojo-attach-point="drawPolygon" id="drawPolygon" class="drawPoly drawButton" title="Draw or measure using a polygon"></span>
        <span data-set='block' data-dojo-attach-event="onclick:setLine" data-dojo-attach-point="drawPolyline" id="drawPolyline" class="drawaLine drawButton" title="Draw or measure using a line"></span>
        <span data-set='none' data-dojo-attach-event="onclick:setPoint" data-dojo-attach-point="drawPoint" id="drawPoint" class="drawPoint drawButton" title="Draw or measure using a point"></span>
        <span data-set='none' data-dojo-attach-event="onclick:setPoly" data-dojo-attach-point="drawRectangle" id="drawRectangle" class="drawRect drawButton" title="Draw or measure using a rectangle"></span>
        <span data-set='none' data-dojo-attach-event="onclick:setLine" data-dojo-attach-point="drawFreehand_polyline" id="drawFreehand_polyline" class="drawFreeLine drawButton" title="Draw or measure using a freehand line"></span>
        <span data-set='none' data-dojo-attach-event="onclick:setPoly" data-dojo-attach-point="drawFreehand_polygon" id="drawFreehand_polygon" class="drawFreePoly drawButton" title="Draw or measure using a freehand polygon"></span>
        <span data-set='none' data-dojo-attach-event="onclick:setPoly" data-dojo-attach-point="drawCircle" id="drawCircle" class="drawCircle drawButton" title="Draw or measure using a circle"></span>
        <span data-set='none' data-dojo-attach-point="drawAnno" id="drawAnno" class="drawAnno drawButton" title="Add text to the map"></span>
    </div>
    <div data-dojo-attach-point="snapmessage" id="snapmessage">Hold <b>CTRL</b> to enable snapping.</div>

    <div class="showBlock">
        <span data-dojo-attach-point="uomText" id="uomText">Unit of Measure</span>
        <select data-dojo-attach-point="uomPolyBox" name="uomPolyBox" id="uomPolyBox">
            <option value="UNIT_ACRES">Acres</option>
            <option value="UNIT_SQUARE_FEET">SQ FT</option>
            <option value="UNIT_SQUARE_METERS">SQ MT</option>
            <option value="UNIT_SQUARE_MILES">SQ MI</option>
            <option value="UNIT_SQUARE_KILOMETERS">SQ KM</option>
        </select>
        <select name="uomLineBox" id="uomLineBox">
            <option value="Feet">Feet</option>
            <option value="Yards">Yards</option>
            <option value="Miles">Miles</option>
            <option value="Meters">Meters</option>
            <option value="Kilometers">Kilometers</option>
        </select>
        <select data-dojo-attach-point="uomPointBox" name="uomPointBox" id="uomPointBox">
            <option selected="selected" value="latlon">Lat/Lon</option>
            <option value="utm">UTM X/Y</option>
        </select>
    </div>


    <div class="showBlock">
        <p class='results'>Measurement Results</p>
        <div data-dojo-attach-point="polyResult" id="polyResult">
            <span class="results" data-dojo-attach-point="polySeg" id="polySeg">Segment: <span data-dojo-attach-point="polysegment" class="remove" id="polysegment"></span></span>
            <span class="results">Area: </span><span class="remove" data-dojo-attach-point="area" id="area"></span><span data-dojo-attach-point="polyMeasureResult1" class="remove" id="polyMeasureResult1"></span>
            <br>
            <span class="results">Perimeter: </span><span data-dojo-attach-point="length" id="length"></span><span data-dojo-attach-point="snapmessage" class="remove" data-dojo-attach-point="polyMeasureResult2" id="polyMeasureResult2"></span>
            <br>
        </div>
        <div data-dojo-attach-point="lineResult" id="lineResult">
            <span class="results" data-dojo-attach-point="lineSeg" id="lineSeg">Segment: <span class="remove" data-dojo-attach-point="segment" id="segment"></span></span>
            <span class="results">Length: </span><span class="remove" data-dojo-attach-point="lineLength" id="lineLength"></span><span class="remove" data-dojo-attach-point="lineMeasureResult" id="lineMeasureResult"></span>
            <br>
        </div>
        <div data-dojo-attach-point="gcsPointResult" id="gcsPointResult">
            <span class="results">Latitude: </span><span class="remove" data-dojo-attach-point="latResult" id="latResult"></span>
            <br>
            <span class="results">Longitude: </span><span class="remove" data-dojo-attach-point="lonResult" id="lonResult"></span>
            <br>
        </div>
        <div data-dojo-attach-point="utmPointResult" id="utmPointResult">
            <span class="results">Y Coord: </span><span class="remove" data-dojo-attach-point="yResult" id="yResult"></span>
            <br>
            <span class="results">X Coord: </span><span class="remove" data-dojo-attach-point="xResult" id="xResult"></span>
            <br>
        </div>
    </div>
    <div data-dojo-attach-point="measureButtonBlock" id="measureButtonBlock">
        <button data-dojo-attach-point="clearMeasure" id="clearMeasure" title="Clears all onscreen drawings and measurements" data-dojo-attach-event="onclick:clearClick">Clear All</button>
    </div>
</div>
