<div id='queryDialog2' data-dojo-attach-point="domNode" title="Attribute Query">

    <div data-dojo-attach-point="queryHeader" class="queryHeader">
        <div title="Return to tools" class='returnToTools left-button' id=returnToTools>Tools</div>
        <span class='none' id='tabSpan'>
        <a class='tabActivated' data-dojo-attach-point="attributeTab" id="attributeTab" title="Switch to a Attribute query">Attribute Query</a>
        <a class='tabDeactivated' data-dojo-attach-point="locationTab" id="locationTab" title="Switch to a location query">Location Query</a>
            </span>
        <span class='displayNo' id='resultSpan'>Query Results</span>
        <span id="closeQuery" style="display:none;" title="Close" class="closer dialogCloser"></span>
        <div title="Return to Map" class='returnToMap' id="returnToMap">Map</div>
    </div>
    <div id="querytabPanel">
    <form class="qForm">
        <ul>
            <li>
                <label for="qLayer">Layer:</label>
                <select data-dojo-attach-point="qLayer" name="qLayer" id="qLayer">
                    <option value="none">None Selected</option>
                    <option value="ParcelOnly4Query/MapServer/0">Parcels</option>
                    <option value="Sales/MapServer/0">Property Sales</option>
                    <option value="eSurveyor/MapServer/13">Plats/Subdivisions</option>
                    <option value="eSurveyor/MapServer/26">Sections</option>
                    <option value="eSurveyor/MapServer/27">Townships</option>
                    <option value="Trails/MapServer/2">Trails</option>
                    <option value="Future_Land_Use/MapServer/17">Rural Future Land Use</option>
                    <option value="Future_Land_Use/MapServer/9">Grand Junction Future Land Use</option>
                    <option value="eSurveyor/MapServer/15">Deposit Surveys</option>
                    <option value="roads_and_intersections/MapServer/1">Roads</option>
                    <option value="parcel_road_labels/MapServer/14">Parks</option>
                    <option value="vector_basemap/MapServer/44">National Park Service</option>
                    <option value="vector_basemap/MapServer/45">BLM NCA/Wilderness</option>
                    <option value="vector_basemap/MapServer/46">BLM</option>
                    <option value="vector_basemap/MapServer/47">National Forest</option>
                    <option value="vector_basemap/MapServer/48">State of Colorado</option>
                    <option value="Census_Zip/MapServer/0">2010 US Census Blocks</option>
                    <option value="Enterprise_Zones/MapServer/0">Enterprise Zones</option>
                    <option value="Hydro/MapServer/0">Streams</option>
                    <option value="Hydro/MapServer/2">Lakes</option>
                    <option value="Hydro/MapServer/3">Water Wells</option>
                    <option value="Soils/MapServer/2">Soils</option>
                </select>
            </li>

            <li class="extent attributeItem">
                <input data-dojo-attach-point="checkExtent" id="checkExtent" type="checkbox" />
                <label for="checkExtent">Select From Within the Map Extent</label>
            </li>

            <li class='displayNo locationItem'>
                <div id="addBuffer"><span class='arrowSpan'>&#9654;</span> Add buffer to query</div>
            </li>
            <li class='displayNo locationItem' id="bufferLI">
                <div class='displayNo' id="bufferSelection">
                    <span id="bufferSpan">Buffering Distance:
                            <input id="buffDist" type="text" />
                                <select name="bufferUOM" id="bufferUOM">
                                    <option value="feet">Feet</option>
                                    <option value="yards">Yards</option>
                                    <option value="meters">Meters</option>
                                    <option value="miles">Miles</option>
                                </select></span>
                </div>
            </li>
            <li class='displayNo locationItem'>
                <div id="addBufferQuery"><span class='arrowSpan'>&#9654;</span> Filter by attributes</div>
            </li>

            <li class="queryFields attributeItem">
                <div id="fieldLabel">Fields:</div>
                <div id="qFields"></div>
                <!--            </li>-->

                <!--            <li class="queryButtons attributeItem">-->
                <!--                <div id="displayButtons">Show Operators<span class='aDiv'>&#9662;</span></div>-->
                <div id="qButtons">
                    <button type="button" class="dimButtons like" name="LIKE '%value%' " value="LIKE '%value%' " title="Like">Like</button>
                    <button type="button" class="and" value="AND" title="And">And</button>
                    <button type="button" class="or" value="OR" title="Or">Or</button>
                    <button type="button" class="dimButtons not" value="NOT" title="Not">Not</button>
                    <button type="button" class="dimButtons is" value="IS" title="Is">Is</button>
                    <button type="button" class="dimButtons null" value="NULL" title="Null">NULL</button>
                    <button type="button" class="in" value="IN ('value1', 'value2')" title="In">IN</button>
                    <br>
                    <button type="button" class="equals" value="=" title="Equals">=</button>
                    <button type="button" class="notequals" value="<>" title="Not Equal">&lt;&gt;</button>
                    <button type="button" class="greaterthan" value=">" title="Greater Than">&gt;</button>
                    <button type="button" class="lessthan" value="<" title="Less Than">&lt;</button>
                    <button type="button" class="greaterequals" value=">=" title="Greater Than or Equal To">&gt;=</button>
                    <button type="button" class="lessequals" value="<=" title="less Than or Equal To">&lt;=</button>
                    <button type="button" class="parens" value="()" title="Parentheses">()</button>
                    <br>
                    <span>Close</span>
                    <button type="button" id="getExamples" title="Field examples">Get Examples</button>
                    <br>
                    <div id="showExamples"></div>
                </div>
                <!--            </li>-->

                <!--            <li class="queryWhere attributeItem">-->
                <label for="qWhere">Where:</label>
                <input data-dojo-attach-point="qWhere" name="qWhere" id="qWhere" />
                <button type="button" id="clearWhere" title="Clear SQL Statement">Clear</button>
                <!--            </li>-->
                <!--            <li class="SQLhelp attributeItem">-->
                <span id="SQLhelpText">This is where the help goes</span>
            </li>

            <li class="displayNo locationItem">
                <div id="qButtonBlock">
                    <span id="imgPoint" class="drawPoint" data-toolname="POINT" title="Select a feature by drawing a line on the map"></span>
                    <span id="imgLine" class="drawaLine" data-toolname="LINE" title="Select a feature by drawing a line on the map"></span>
                    <span id="imgPoly" class="drawPoly" data-toolname="POLYGON" title="Select a feature by drawing a polygon on the map"></span>
                    <span id="imgRect" class="drawRect" data-toolname="RECTANGLE" title="Select a feature by drawing a rectangle on the map"></span>
                    <span id="imgFreeLine" class="drawFreeLine" data-toolname="FREEHAND_POLYLINE" title="Select a feature by drawing a freehand line on the map"></span>
                    <span id="imgFreePoly" class="drawFreePoly" data-toolname="FREEHAND_POLYGON" title="Select a feature by drawing a freehand polygon on the map"></span>
                </div>

                <input id="clearGraphic" type="checkbox" checked />
                <label for="clearGraphic">Clear Previous Graphics</label>

            </li>

            <li class="submitQueryLI">
                <button data-dojo-attach-event="onclick:runQuery" class='showInline inlineAttributeItem' id="submitQuery" title="Submit Query" type="button" />Submit Query</button>
                <button class='displayNo inlineLocationItem' data-dojo-attach-event="onclick:clearClick">Clear</button>
                <button data-dojo-attach-event="onclick:closeClick" type="button" class="closeQuery" title="Close Query Dialog">Close</button>
                <a class='inlineAttributeItem' target="_blank" href="http://www.w3schools.com/sql/sql_where.asp">
                    <button type="button" id="qHelp" title="Get help building SQL Queries">Help</button>
                </a>

            </li>
        </ul>
    </form>
</div><!--end of query tabbed panel-->

    <div id="queryResultDialog" class="query moveableDialog">
        <span id="resultLabel">Layer Here</span>
        <br><span class="displaybytext">     Display By: </span>
        <select name="attdisplayby" id="attdisplayby"></select>
        <div id="resultWindow2">Loading...</div>
        <div class="closequeryresults">
            <button data-dojo-attach-event="onclick:backToQueryClick" id="backToQuery">Back to query</button>
            <button title="Download query results as a CSV file to use in spreadsheet software" id="csv">CSV</button>
            <button class="closeQuery" data-dojo-attach-event="onclick:closeClick">Close</button>
        </div>
    </div>

</div>
