<div id="schoolsSelect">
    <ul>
        <li>Attendance</li>

        <li>
            <input class="schoolscbx" type="checkbox" id="elem" data-opt="5" data-value="elem" checked/><span>Elementary</span>
        </li>
        <li>
            <input class="schoolscbx" type="checkbox" id="middle" data-opt="6" data-value="middle" /><span>Middle School</span>
        </li>
        <li>
            <input class="schoolscbx" type="checkbox" id="fruita" data-opt="7" data-value="fruita" /><span>Fruita 8-9</span>
        </li>
        <li>
            <input class="schoolscbx" type="checkbox" id="high" data-opt="8" data-value="high" /><span>High School</span>
        </li>
        <li>
            <input class="schoolscbx" type="checkbox" id="distbound" data-opt="1" data-value="distbound" /><span>District Boundaries</span>
        </li>
        <li>
            <input class="schoolscbx" type="checkbox" id="boardbound" data-opt="2" data-value="boardbound" /><span>Director Districts</span>
        </li>
        <li>
            <input class="schoolscbx" type="checkbox" id="cells" data-opt="3" data-value="cells" /><span>School District Cells</span>
        </li>
    </ul>
</div>
