<div data-dojo-attach-point="domNode" id="searchFieldDialog"  class="searchBox searchFieldDialog">
            <div data-dojo-attach-point="searchHeader" class="searchheader">
                <span data-dojo-attach-point="searchValue" id="searchValue">Search</span>
                <!-- <span class='closer' data-dojo-attach-event="onclick:closeClick"></span> -->
            </div>
            <input data-dojo-attach-point="loc" id="loc" />
            <div data-dojo-attach-point="GCSblock" id="GCSblock" title="Enter latitude and longitude coordinates in DD, DDM or DMS format. Separate Lat and Lon with a comma. Separate degrees minutes and seconds with a space. Example: 39.6547,-108.2547 OR 39 4 8,-108 33 47">
                <input data-dojo-attach-point="coords" class="clearMe" id="coords" placeholder="ex: 39.0688,-108.5631" />
                <button data-dojo-attach-event="onclick:coordClick" data-dojo-attach-point="coordzoom" id="coordzoom" title="Click to zoom to coordinates">Zoom</button>
            </div>
        </div>
