<div id="surveySelect">
    <ul>
        <li>
            <label>
                <input class="surveycbx" type="checkbox" id="sub" data-opt="19" data-value="sub" checked/>Subdivision Plats</label>
        </li>
        <li>
            <label>
                <input class="surveycbx" type="checkbox" id="dep" data-opt="20" data-value="dep" />Deposit Surveys</label>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="hist" data-opt="21" data-value="hist" /><span>Historic Surveys</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="glo" data-opt="22" data-value="glo" /><span>GLO Plats</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="deed" data-opt="13" data-value="deed" /><span>Deeded ROW</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="ded" data-opt="15" data-value="ded" /><span>Dedicated ROW (2007-2017)</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="perm" data-opt="18" data-value="perm" /><span>Permanent Easement ROW</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="vac" data-opt="14" data-value="vac" /><span>Vacated ROW</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="book" data-opt="17" data-value="book" /><span>Road Book/Petitioned ROW</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="proc" data-opt="16" data-value="proc" /><span>Road Proc 1890/1892</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="mesasims" data-opt="0" data-value="mesasims" /><span>GPS SIMS(Mesa County)</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="deltasims" data-opt="1" data-value="deltasims" /><span>GPS SIMS(Delta County)</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="monuments" data-opt="2" data-value="monuments" /><span>Survey Monuments</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="calib" data-opt="8" data-value="calib" /><span>Survey Calibration
        <button disabled="disabled" id="calibzoom">Zoom</button></span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="datumdif" data-opt="23" data-value="datumdif" /><span>Vertical Datum Differences</span>
        </li>
        <li>
            <input class="surveycbx" type="checkbox" id="trs" data-opt="12" data-value="trs" /><span>Township/Range/Section</span>
        </li>

        <li>
            <input class="surveycbx" type="checkbox" id="contours12" data-opt="3" data-value="surveycontours" /><span>2012 2 Ft. Contours</span>
        </li>
        <!-- <li>
            <input class="surveycbx" type="checkbox" id="surveydem" data-opt="0" data-value="surveydem" /><span>Digital Elevation Model</span>
        </li> -->
    </ul>
</div>
