<div id="topoSelect">
    <ul>
        <li>
            <input class="topocbx" type="checkbox" id="dem" data-opt="1" data-value="dem" title="Digital Elevation Model" checked /><span>Digital Elevation Model</span>
        </li>
        <li>
            <input class="topocbx" type="checkbox" id="contours12" data-opt="2" data-value="contours12" /><span>2012 2Ft. Contours</span>
        </li>
        <li>
            <input class="topocbx" type="checkbox" id="contours01" data-opt="0" data-value="contours01" /><span>2001 2Ft. Contours</span>
        </li>
    </ul>
</div>
</div>
